[
 {sasl, [{utc_log, true}, {sasl_error_logger, false}]},
 {lager,
  [{error_logger_hwm, 3000},
   {async_threshold, 500},
   {async_threshold_window, 250},
   {colored, false},
   {handlers,
    [{lager_console_backend, [{level, info},
                              {formatter, lager_default_formatter},
                              {formatter_config, ["[", severity, "] ",
                                                  {pid, ""},
                                                  {module, [
                                                            {pid, ["@"], ""},
                                                            module,
                                                            {function, [":", function], ""},
                                                            {line, [":",line], ""}], ""},
                                                  " ", message, "\n"]}]}
    ]}]},
 {mfdb,
  [
   {app_key, <<"d863674a-30ba-45c9-a959-4d911aeea98c">>},
   {cluster, <<"/opt/mfdb/test/fdb.local.cluster">>},
   {tls_cert_path, <<"/opt/mfdb/test/fdb.local.pem">>},
   {tls_key_path, <<"/opt/mfdb/test/fdb.local.key">>},
   {tls_ca_path, <<"/opt/mfdb/test/fdb.local.crt">>}
  ]
 }
].
