%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
    {jsx, "v3.0.0"},
    {sext, "1.8.0"},
    {erlfdb, ".*", {git, "https://github.com/leonardb/couchdb-erlfdb.git", {branch, "mfdb3"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}}
]}.

{profiles, [
    {test, [
        {ct_opts, [
            {sys_config, ["/opt/mfdb/test/test.config"]}
        ]},
        {deps, [
            {proper, "1.2.0"},
            {meck, "0.8.13"}
        ]}
    ]}
]}.
{xref_checks, [undefined_function_calls]}.

{format, [
    {files, [
        "src/*.erl",
        "rebar.config"
    ]},
    {formatter, erlfmt_formatter}
    % {options, #{ ribbon => 120,
    %              paper => 120,
    %  inline_attributes => none,
    %  inline_fields => none,
    %  inline_clause_bodies => false,
    %  inline_simple_funs => false,
    %  inline_items => {when_under, 5} }}
]}.

{plugins, [
    erlfmt,
    rebar3_format
]}.

{kernel, [
    {logger_level, info},
    {logger, [
        %% console logger
        {handler, default, logger_std_h, #{
            formatter =>
                {logger_formatter, #{
                    single_line => true,
                    template => [time, " ", pid, " ", file, ":", line, " ", level, ": ", msg, "\n"]
                }}
        }},
        %% disk logger
        {handler, disk_log, logger_std_h, #{
            level => info,
            config =>
                #{
                    file => "log/info.log",
                    max_no_files => 10,
                    max_no_bytes => 52428800
                },
            formatter =>
                {logger_formatter, #{
                    single_line => true,
                    template => [
                        time,
                        " ",
                        pid,
                        " ",
                        application,
                        ":",
                        file,
                        ":",
                        line,
                        " ",
                        level,
                        ": ",
                        msg,
                        "\n"
                    ]
                }}
        }}
    ]}
]}.
