%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps,
 [
  {sext, "1.8.0"},
  {erlfdb, ".*",
   {git, "https://github.com/leonardb/couchdb-erlfdb.git",
    {tag, "v1.2.3-exinit-rebar3"}}},
  {gproc, ".*",
   {git, "https://github.com/uwiger/gproc.git",
    {branch, "master"}}}
 ]}.

{profiles,
 [
  {test,
   [
    {ct_opts, [
               {sys_config, ["/opt/mfdb/test/test.config"]}
              ]},
    {deps, [ {proper, "1.2.0"}
           , {meck, "0.8.13"}]}
   ]}
 ]}.
